html{
    height: 100%;

}
body{
    background-image: url('./img/background.jpg');
    background-repeat: space;
    background-size: cover ;
}
.form{
    width: 60%;
    margin-top: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Otomanopee One', sans-serif;
    font-size: 30%;
    color: #000;
    backdrop-filter: blur(5px);
}
input[type= email],input[type= password]{
    all: unset;
    width: 30vh;
    height: 3vh;
    margin-top: 2vh;
    font-size: 2vh;
    background-color: #F7C977;
    border: none;
    border-radius: 1.5vh;
    text-align: center;
}
input:focus{
    border: 2px #fff solid;
}
label{
    margin-top: 2vh;
}
input[type= submit]{
    all: unset;
    margin-top: 5vh;
    padding: initial;
    width: 20vh;
    height: 5vh;
    background-color: #B0AFBD;
    font-size: 3.5vh;
    text-align: center;
    border: 3px #fff solid;
    border-radius: 5vh;
    box-shadow: 0 5px #666;
}
input[type= submit]:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
